---
layout: null
permalink: /
---

<!doctype html>
<html lang="zh_CN">
  <head>
    <title>中国传统颜色 - 颜色都该有它好听的名字！</title>
    {% include head.html %}
  </head>
  <body>
    <div id="preloader">
      <div id="loader"></div>
    </div>
    <div class="container main">
      <div class="row">

        {% include cn-colors.html %}

        <div class="col-2" id="details">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <span class="cmyk-v">C: 0</span>
                <span class="donut dd-c rotateIn">0/100</span>
                <span class="cmyk-v">M: 85</span>
                <span class="donut dd-m rotateIn">85/100</span>
                <span class="cmyk-v">Y: 73</span>
                <span class="donut dd-y rotateIn">73/100</span>
                <span class="cmyk-v">K: 4</span>
                <span class="donut dd-k rotateIn">4/100</span>
              </p>
              <p class="card-text">
                <div class="card-text rgb-line">
                  
                  <div class="progress vertical">
                    <div class="progress-bar progress-bar-striped bg-r" style="height: 96%">245</div>
                  </div>
                  
                  <div class="progress vertical">
                    <div class="progress-bar progress-bar-striped bg-g" style="height: 14%">36</div>
                  </div>
                  
                  <div class="progress vertical">
                    <div class="progress-bar progress-bar-striped bg-b" style="height: 26%">67</div>
                  </div>
                  
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="col-3" id="infors">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">银星海棠</h4>
              <p class="card-text en-name">yín xīng hǎi táng</p>
            </div>
            <div class="card-footer bg-transparent">
              <p class="card-text" data-toggle="tooltip" data-placement="top" title="点击复制">#f52443</p>
              <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="点击复制">rgb(245, 36, 67)</p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>© 2017 Frank Lin. Some rights reserved. | <a href="/jp-colors/" data-toggle="tooltip" data-placement="top" title="日本传统色">🇯🇵 </a>
          <a href="/cn-colors-old/" data-toggle="tooltip" data-placement="top" title="中国传统色（旧版）"> 🇨🇳</a> | 
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="分享本页"><span data-toggle="modal" data-target="#shareModal">分享</span></a>
          <br>参考：<a href="http://chinese.traditionalcolors.com" target="_blank">Traditional Colors of China</a>. 源码：<a href="https://github.com/flinhong/colors" target="_blank">GitHub Repository</a>
        </p>
      </footer>
      {% include share.html %}
    </div>

    {% include scripts.html %}

  </body>
</html>