---
layout: null
permalink: /jp-colors/
---

<!doctype html>
<html lang="zh_CN">
  <head>
    <title>日本传统色 | Frank inDev.</title>
    {% include head.html %}
  </head>
  <body>
    {% include gtag-body.html %}
    <div id="preloader">
      <div id="loader"></div>
    </div>
    <div class="container main">
      <div class="row">

        {% include jp-colors.html %}

        <div class="col-2" id="details">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <span class="cmyk-v">C: 0</span>
                <span class="donut dd-c rotateIn">0/100</span>
                <span class="cmyk-v">M: 28</span>
                <span class="donut dd-m rotateIn">28/100</span>
                <span class="cmyk-v">Y: 18</span>
                <span class="donut dd-y rotateIn">18/100</span>
                <span class="cmyk-v">K: 14</span>
                <span class="donut dd-k rotateIn">14/100</span>
              </p>
              <p class="card-text">
                <div class="card-text rgb-line">
                  
                  <div class="progress vertical">
                    <div class="progress-bar progress-bar-striped bg-r" style="height: 86%">220</div>
                  </div>
                  
                  <div class="progress vertical">
                    <div class="progress-bar progress-bar-striped bg-g" style="height: 62%">159</div>
                  </div>
                  
                  <div class="progress vertical">
                    <div class="progress-bar progress-bar-striped bg-b" style="height: 70%">180</div>
                  </div>
                  
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="col-3" id="infors">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">撫子</h4>
              <p class="card-text en-name">NADESHIKO</p>
            </div>
            <div class="card-footer bg-transparent">
              <p class="card-text" data-toggle="tooltip" data-placement="top" title="点击复制">#dc9fb4</p>
              <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="点击复制">rgb(220,159,180)</p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>© {{ site.time | date: "%Y"}} Frank Lin. Some rights reserved. | 
          <a href="/" data-toggle="tooltip" data-placement="top" title="中国传统色">🇨🇳</a> | 
          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="分享本页"><span data-toggle="modal" data-target="#shareModal">分享[赞助]</span></a>
          <br>参考：<a href="http://nipponcolors.com" target="_blank">Nipponcolors</a>. 源码：<a href="https://github.com/flinhong/colors" target="_blank">GitHub Repository</a>
        </p>
      </footer>
      {% include share.html %}
    </div>

    {% include scripts.html %}

  </body>
</html>