    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="icon" type="image/png" href="./favicon.png" />

    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <html itemscope itemtype="http://schema.org/WebSite">

    <!-- Place this data between the <head> tags of your website -->
    <meta name="description" content="青山绿水，白草红叶黄花。颜色都该有它好听的名字！" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="description" content="青山绿水，白草红叶黄花。颜色都该有它好听的名字！">
    <meta itemprop="image" content="./screenshot.png">

    <!-- Open Graph data -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://colors.flinhong.com/" />
    <meta property="og:image" content="./screenshot.png" />
    <meta property="og:description" content="青山绿水，白草红叶黄花。颜色都该有它好听的名字！" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./style/bootstrap.min.css">
    <link rel="stylesheet" href="./style/style.css">
    <script src="https://use.typekit.net/gmq5kxy.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>