    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="canonical" href="https://colors.honglin.eu.org/">

    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <html itemscope itemtype="http://schema.org/WebSite">

    <!-- Place this data between the <head> tags of your website -->
    <meta name="description" content="青山绿水，白草红叶黄花。颜色都该有它好听的名字！" />

    {% if page.url contains "jp" %}
    <meta http-equiv="refresh" content="0; URL=https://colors.honglin.eu.org/jp-colors/">
    {% else %}
    <meta http-equiv="refresh" content="0; URL=https://colors.honglin.eu.org/">
    {% endif %}

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="description" content="青山绿水，白草红叶黄花。颜色都该有它好听的名字！">
    <meta itemprop="image" content="https://colors.honglin.eu.org/screenshot.png">

    <!-- Open Graph data -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://colors.honglin.eu.org/" />
    <meta property="og:image" content="https://colors.honglin.eu.org/screenshot.png" />
    <meta property="og:description" content="青山绿水，白草红叶黄花。颜色都该有它好听的名字！" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">

    {% include gtag-head.html %}