<div class="col-7" id="colors">
        
    <div class="card-columns d-flex">
        <div class="row">

        <div class="col-2">
            <div class="card" style="border-color: rgb(220, 159, 180);">
            <div class="card-body ">
                <div class="col-12">
                <h4 class="card-title">撫子</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">28/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.6811705131164 21.372863662543047 L 31.75202151020164 20.623338404200148 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 35.6811705131164 21.372863662543047 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.75202151020164 20.623338404200148" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">18/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 34.28688694438836 10.335972751828693 L 30.667578734524273 12.039089918088983 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 34.28688694438836 10.335972751828693 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 30.667578734524273 12.039089918088983" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">14/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 31.869238369964208 6.526368184523587 L 28.78718539886105 9.076064143518344 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 31.869238369964208 6.526368184523587 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 28.78718539886105 9.076064143518344" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#DC9FB4</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 86%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 62%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 70%"></div>
                    </div>
                </div>
                <p class="card-text en-name">NADESHIKO</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(225, 107, 140);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">紅梅</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">52/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 15.744001795842522 35.858064623660596 L 16.24533473009974 31.88960581840269 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 15.744001795842522 35.858064623660596 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 16.24533473009974 31.88960581840269" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">38/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 30.3218479067164 31.121435293585407 L 27.583659483001643 28.20556078389976 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 30.3218479067164 31.121435293585407 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 27.583659483001643 28.20556078389976" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">12/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 30.321847906716396 4.878564706414592 L 27.583659483001643 7.794439216100239 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 30.321847906716396 4.878564706414592 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 27.583659483001643 7.794439216100239" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#E16B8C</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 88%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 41%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 54%"></div>
                    </div>
                </div>
                <p class="card-text en-name">KOHBAI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(142, 53, 74);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">蘇芳</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">63/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 4.878564706414597 30.3218479067164 L 7.7944392161002405 27.583659483001643 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 4.878564706414597 30.3218479067164 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 7.7944392161002405 27.583659483001643" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">48/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 20.255998204157482 35.858064623660596 L 19.75466526990026 31.88960581840269 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 20.255998204157482 35.858064623660596 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 19.75466526990026 31.88960581840269" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">44/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 24.626241948324207 34.73597674598852 L 23.153743737585494 31.01687080243552 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 24.626241948324207 34.73597674598852 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 23.153743737585494 31.01687080243552" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#8E354A</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 55%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 20%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 29%"></div>
                    </div>
                </div>
                <p class="card-text en-name">SUOH</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(248, 195, 205);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">退紅</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">21/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.43449690031536 13.52358203103261 L 31.560164255800835 14.51834157969203 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 35.43449690031536 13.52358203103261 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.560164255800835 14.51834157969203" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">17/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 33.773520240789544 9.328433866169128 L 30.268293520614094 11.255448562575989 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 33.773520240789544 9.328433866169128 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 30.268293520614094 11.255448562575989" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">3/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 21.372863662543047 0.3188294868836046 L 20.623338404200148 4.24797848979836 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 21.372863662543047 0.3188294868836046 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 20.623338404200148 4.24797848979836" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#F8C3CD</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 97%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 76%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 80%"></div>
                    </div>
                </div>
                <p class="card-text en-name">TAIKOH</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(244, 167, 185);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">一斥染</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">32/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 34.28688694438835 25.66402724817131 L 30.667578734524273 23.960910081911017 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 34.28688694438835 25.66402724817131 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 30.667578734524273 23.960910081911017" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">24/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.96448111170889 16.869770648472358 L 31.9723741979958 17.12093272658961 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 35.96448111170889 16.869770648472358 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.9723741979958 17.12093272658961" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">4/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 22.476417968967386 0.5655030996846406 L 21.481658420307966 4.439835744199165 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 22.476417968967386 0.5655030996846406 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 21.481658420307966 4.439835744199165" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#F4A7B9</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 95%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 65%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 72%"></div>
                    </div>
                </div>
                <p class="card-text en-name">IKKONZOME</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(100, 54, 60);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">桑染</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">46/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 22.476417968967386 35.43449690031536 L 21.481658420307966 31.560164255800835 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 22.476417968967386 35.43449690031536 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 21.481658420307966 31.560164255800835" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">40/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 28.580134541264517 32.56230589874905 L 26.228993532094623 29.326237921249266 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 28.580134541264517 32.56230589874905 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 26.228993532094623 29.326237921249266" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">61/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 6.526368184523584 31.869238369964208 L 9.076064143518344 28.787185398861048 A 14 14 0 1 0 18 4" fill="#1c1c1c"></path><path d="M 6.526368184523584 31.869238369964208 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 9.076064143518344 28.787185398861048" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#64363C</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 39%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 21%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 23%"></div>
                    </div>
                </div>
                <p class="card-text en-name">KUWAZOME</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(245, 150, 170);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">桃</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">39/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 29.473631815476416 31.869238369964204 L 26.923935856481656 28.787185398861048 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 29.473631815476416 31.869238369964204 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 26.923935856481656 28.787185398861048" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">31/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 34.73597674598852 24.626241948324203 L 31.01687080243552 23.153743737585494 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 34.73597674598852 24.626241948324203 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.01687080243552 23.153743737585494" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">4/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 22.476417968967386 0.5655030996846406 L 21.481658420307966 4.439835744199165 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 22.476417968967386 0.5655030996846406 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 21.481658420307966 4.439835744199165" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#F596AA</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 96%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 58%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 66%"></div>
                    </div>
                </div>
                <p class="card-text en-name">MOMO</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(181, 73, 91);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">苺</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">60/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 7.419865458735485 32.56230589874905 L 9.771006467905378 29.326237921249266 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 7.419865458735485 32.56230589874905 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 9.771006467905378 29.326237921249266" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">50/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 18 36 L 18 32 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 18 36 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 18 32" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">29/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.43449690031537 22.476417968967382 L 31.560164255800835 21.481658420307966 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 35.43449690031537 22.476417968967382 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.560164255800835 21.481658420307966" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#B5495B</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 70%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 28%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 35%"></div>
                    </div>
                </div>
                <p class="card-text en-name">ICHIGO</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(232, 122, 144);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">薄紅</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">47/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 21.372863662543047 35.6811705131164 L 20.623338404200148 31.75202151020164 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 21.372863662543047 35.6811705131164 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 20.623338404200148 31.75202151020164" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">38/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 30.3218479067164 31.121435293585407 L 27.583659483001643 28.20556078389976 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 30.3218479067164 31.121435293585407 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 27.583659483001643 28.20556078389976" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">9/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 27.644882309621938 2.802097340963728 L 25.50157512970595 6.179409042971789 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 27.644882309621938 2.802097340963728 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 25.50157512970595 6.179409042971789" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#E87A90</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 90%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 47%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 56%"></div>
                    </div>
                </div>
                <p class="card-text en-name">USUBENI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(208, 90, 110);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">今様</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">57/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 10.335972751828699 34.28688694438836 L 12.039089918088987 30.667578734524277 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 10.335972751828699 34.28688694438836 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 12.039089918088987 30.667578734524277" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">47/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 21.372863662543047 35.6811705131164 L 20.623338404200148 31.75202151020164 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 21.372863662543047 35.6811705131164 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 20.623338404200148 31.75202151020164" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">18/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 34.28688694438836 10.335972751828693 L 30.667578734524273 12.039089918088983 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 34.28688694438836 10.335972751828693 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 30.667578734524273 12.039089918088983" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#D05A6E</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 81%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 35%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 43%"></div>
                    </div>
                </div>
                <p class="card-text en-name">IMAYOH</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(219, 77, 109);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">中紅</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">65/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 3.4376941012509477 28.58013454126452 L 6.6737620787507375 26.228993532094627 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 3.4376941012509477 28.58013454126452 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 6.6737620787507375 26.228993532094627" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">50/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 18 36 L 18 32 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 18 36 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 18 32" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">14/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 31.869238369964208 6.526368184523587 L 28.78718539886105 9.076064143518344 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 31.869238369964208 6.526368184523587 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 28.78718539886105 9.076064143518344" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#DB4D6D</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 85%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 30%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 42%"></div>
                    </div>
                </div>
                <p class="card-text en-name">NAKABENI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(254, 223, 225);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">桜</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">12/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 30.321847906716396 4.878564706414592 L 27.583659483001643 7.794439216100239 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 30.321847906716396 4.878564706414592 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 27.583659483001643 7.794439216100239" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">11/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 29.473631815476416 4.130761630035794 L 26.923935856481656 7.21281460113895 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 29.473631815476416 4.130761630035794 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 26.923935856481656 7.21281460113895" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#FEDFE1</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 99%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 87%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 88%"></div>
                    </div>
                </div>
                <p class="card-text en-name">SAKURA</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(158, 122, 122);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">梅鼠</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">23/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.8580646236606 15.744001795842525 L 31.889605818402693 16.245334730099742 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 35.8580646236606 15.744001795842525 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.889605818402693 16.245334730099742" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">23/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.8580646236606 15.744001795842525 L 31.889605818402693 16.245334730099742 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 35.8580646236606 15.744001795842525 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.889605818402693 16.245334730099742" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">38/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 30.3218479067164 31.121435293585407 L 27.583659483001643 28.20556078389976 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 30.3218479067164 31.121435293585407 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 27.583659483001643 28.20556078389976" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#9E7A7A</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 61%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 47%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 47%"></div>
                    </div>
                </div>
                <p class="card-text en-name">UMENEZUMI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(208, 16, 76);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">韓紅花</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">92/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 9.328433866169124 2.2264797592104557 L 11.255448562575985 5.73170647938591 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 9.328433866169124 2.2264797592104557 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 11.255448562575985 5.73170647938591" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">63/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 4.878564706414597 30.3218479067164 L 7.7944392161002405 27.583659483001643 A 14 14 0 1 0 18 4" fill="#ffc408"></path><path d="M 4.878564706414597 30.3218479067164 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 7.7944392161002405 27.583659483001643" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">18/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 34.28688694438836 10.335972751828693 L 30.667578734524273 12.039089918088983 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 34.28688694438836 10.335972751828693 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 30.667578734524273 12.039089918088983" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#D0104C</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 81%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 6%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 29%"></div>
                    </div>
                </div>
                <p class="card-text en-name">KARAKURENAI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(159, 53, 58);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">燕脂</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">67/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 2.2264797592104557 26.671566133830872 L 5.73170647938591 24.744551437424015 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 2.2264797592104557 26.671566133830872 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 5.73170647938591 24.744551437424015" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">64/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 4.130761630035792 29.47363181547641 L 7.212814601138948 26.923935856481656 A 14 14 0 1 0 18 4" fill="#ffc408"></path><path d="M 4.130761630035792 29.47363181547641 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 7.212814601138948 26.923935856481656" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">38/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 30.3218479067164 31.121435293585407 L 27.583659483001643 28.20556078389976 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 30.3218479067164 31.121435293585407 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 27.583659483001643 28.20556078389976" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#9F353A</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 62%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 20%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 22%"></div>
                    </div>
                </div>
                <p class="card-text en-name">ENJI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(203, 27, 69);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">紅</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">87/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 4.878564706414592 5.678152093283604 L 7.794439216100239 8.416340516998357 A 14 14 0 1 0 18 4" fill="#cb1b45"></path><path d="M 4.878564706414592 5.678152093283604 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 7.794439216100239 8.416340516998357" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">66/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 2.8020973409637246 27.644882309621934 L 6.179409042971786 25.501575129705948 A 14 14 0 1 0 18 4" fill="#ffc408"></path><path d="M 2.8020973409637246 27.644882309621934 A 18 18 0 0 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 0 0 6.179409042971786 25.501575129705948" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">20/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.119017293312766 12.437694101250948 L 31.31479122813215 13.673762078750737 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 35.119017293312766 12.437694101250948 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.31479122813215 13.673762078750737" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#CB1B45</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 79%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 10%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 27%"></div>
                    </div>
                </div>
                <p class="card-text en-name">KURENAI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(238, 169, 169);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">鴇</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">29/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.43449690031537 22.476417968967382 L 31.560164255800835 21.481658420307966 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 35.43449690031537 22.476417968967382 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.560164255800835 21.481658420307966" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">29/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 35.43449690031537 22.476417968967382 L 31.560164255800835 21.481658420307966 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 35.43449690031537 22.476417968967382 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 31.560164255800835 21.481658420307966" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">7/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 25.664027248171312 1.7131130556116503 L 23.96091008191102 5.332421265475727 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 25.664027248171312 1.7131130556116503 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 23.96091008191102 5.332421265475727" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#EEA9A9</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 93%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 66%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 66%"></div>
                    </div>
                </div>
                <p class="card-text en-name">TOKI</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card" style="border-color: rgb(191, 103, 102);">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">長春</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c initialed" style="display: none;">0/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 1 1 17.99 0 L 17.99 4 A 14 14 0 1 0 18 4" fill="#eee"></path></svg>
                    <span class="donut dd-m initialed" style="display: none;">46/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 22.476417968967386 35.43449690031536 L 21.481658420307966 31.560164255800835 A 14 14 0 0 0 18 4" fill="#cb1b45"></path><path d="M 22.476417968967386 35.43449690031536 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 21.481658420307966 31.560164255800835" fill="#eee"></path></svg>
                    <span class="donut dd-y initialed" style="display: none;">47/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 21.372863662543047 35.6811705131164 L 20.623338404200148 31.75202151020164 A 14 14 0 0 0 18 4" fill="#ffc408"></path><path d="M 21.372863662543047 35.6811705131164 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 20.623338404200148 31.75202151020164" fill="#eee"></path></svg>
                    <span class="donut dd-k initialed" style="display: none;">25/100</span><svg class="peity" height="36" width="36"><path d="M 18 0 A 18 18 0 0 1 36 18 L 32 18 A 14 14 0 0 0 18 4" fill="#1c1c1c"></path><path d="M 36 18 A 18 18 0 1 1 17.999999999999996 0 L 17.999999999999996 4 A 14 14 0 1 0 32 18" fill="#eee"></path></svg>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">#BF6766</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: 74%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: 40%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: 40%"></div>
                    </div>
                </div>
                <p class="card-text en-name">CYOHSYUN</p>
                </div>
            </div>
            </div>
        </div>

        {% for color in site.data.jp-colors offset:18 %}
        <div class="col-2">
            <div class="card">
            <div class="card-body">
                <div class="col-12">
                <h4 class="card-title">{{ color.name }}</h4>
                <p class="card-text cmyk-donut">
                    <span class="donut dd-c">{{ color.cmyk[0] }}/100</span>
                    <span class="donut dd-m">{{ color.cmyk[1] }}/100</span>
                    <span class="donut dd-y">{{ color.cmyk[2] }}/100</span>
                    <span class="donut dd-k">{{ color.cmyk[3] }}/100</span>
                </p>
                </div>
                <div class="col-12">
                <p class="card-text hex-value">{{ color.hex }}</p>
                <div class="card-text rgb-line">
                    <div class="progress vertical">
                    <div class="progress-bar bg-r" style="height: {{ color.rgb[0] | times:100 | divided_by: 255 }}%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-g" style="height: {{ color.rgb[1] | times:100 | divided_by: 255 }}%"></div>
                    </div>
                    <div class="progress vertical">
                    <div class="progress-bar bg-b" style="height: {{ color.rgb[2] | times:100 | divided_by: 255 }}%"></div>
                    </div>
                </div>
                <p class="card-text en-name">{{ color.en-name }}</p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}

        </div>
    </div>

</div>