<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/script/jquery.min.js"></script>
<script src="/script/popper.min.js"></script>
<script src="/script/bootstrap.min.js"></script>
<script src="/script/jquery.peity.min.js"></script>
<script src="/script/scripts.js"></script>
<!-- <script async src="https://collect.frankindev.com/collect.js" data-ackee-server="https://collect.frankindev.com" data-ackee-domain-id="ff1e6f97-27fc-42f8-b024-1fae94b5196e" data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'></script> -->